*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    background: var(--color--BG);
    color: var(--color--Text) ;
}

:root{
    --color--BG:white;
    --color--Text:#ffffff;
}

::-webkit-scrollbar {
   display: none;
}

/* #home-section,#what-Section,#types-Section,#purchase-Section{
    width: 100%;
} */

#home-container{
    width: 100%;
}

/*NAV*/
#nav-bar{
    top: 0;
    z-index: 15;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
}

ul, li{
    list-style: none;
    display: inline-block;
}

li, a{
    font-weight: bold;
    margin: .5rem;
    color: var(--color--Text);
    text-decoration: none;
}

/*BURGIR*/
#hamburger {
    display: none;
    cursor: pointer;
}

#bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: var(--color--Text);
}

/*HOME*/

#home-Container{
    height: 100vh;
    background-size: cover;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("PICTURES/pexels-elizabeth-tr-armstrong-635705.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home-Contents{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#home-Contents h2{
    font-size: 8rem;
}

#home-Contents p{
    line-height: 2rem;
    font-size: 1.3rem;
}

#LearnMore{
    color: var(--color--Text);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 1.5rem;
    background: transparent;
    transition: .5s ease;
}

#LearnMore:hover{
    backdrop-filter: blur(5px);
}

/*WHAT*/
#what-Container{
    background: #303030;
}

@media (max-width: 1023px) {
    
    #hamburger {
        display: block;
    }

    #hamburger.active #bar:nth-child(2) {
        opacity: 0;
    }

    #hamburger.active #bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #hamburger.active #bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    li {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

}