*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    background: var(--color--BG);
    color: var(--color--Text) ;
}

html {
    scroll-behavior: smooth;
}

:root{
    --color--BG:white;
    --color--Text:#ffffff;
}

::-webkit-scrollbar {
   display: none;
}

#home-Container,#what-Container,#benefits-Container{
    width: 100%;
}



/*NAV*/
#nav-bar{
    top: 0;
    z-index: 15;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
}

h1{
    cursor: pointer;
}

ul, li{
    list-style: none;
    display: inline-block;
}

li,a{
    font-weight: bold;
    font-size: 1.5rem;
    margin: .5rem;
    color: var(--color--Text);
    text-decoration: none;
}

/*BURGIR*/
#hamburger {
    display: none;
    cursor: pointer;
}

#bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: var(--color--Text);
}

/*HOME*/

#home-Container{
    height: 100vh;
    background-size: cover;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url("PICTURES/pexels-elizabeth-tr-armstrong-635705.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home-Contents{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}

#home-Contents h2{
    font-size: 6rem;
}

#home-Contents p{
    line-height: 2rem;
    font-size: 1.3rem;
}

#LearnMore{
    color: var(--color--Text);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 1.5rem;
    background: transparent;
    transition: .5s ease;
}

#LearnMore:hover{
    backdrop-filter: blur(5px);
}

/*WHAT*/
#what-Container{
    padding: 5rem 5rem;
    background: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#what-Contents{
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 1.6rem;
    font-size: 1.2rem;
    gap: 1rem;
    width: 70rem;
}
#what-Contents p{
    text-align: left;
}

h3{
    font-size: 2rem;
}

#apple-Images{
    width: 65rem;
    height: 30rem;
}

#apple{
    position: relative;
    object-fit: cover;
    border-radius: 3rem;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    filter: grayscale(100%);
}

#apple-Images img:hover{
    transition: 0.5s ease;
    filter: grayscale(0%);
}

/*BENEFITS*/
#benefits-Container{
    padding: 5rem 5rem;
    background: #3b3b3b;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#text{
    width: 70rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 1.6rem;
    font-size: 1.2rem;
    gap: 1rem;
}

#text p{
    text-align: left;
}

#benefits-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 1.2rem;
    gap: 2rem;
    width: 100%;

}

#benefits-Picture{
    position: relative;
    width: 60rem;
    height: 30rem;
}

#apple2{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

#benefits-Caption-Overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s ease;
    padding: 5rem;
    border-radius: 3rem;
}

#benefits-Caption-Overlay ul{
    display: flex;
    flex-direction: column;
}
#benefits-Caption-Overlay ul h4{
    font-size: 3rem;
}


#benefits-Caption-Overlay:hover{
    opacity: 1;
}

/*TYPES*/
#types-Container{
    padding: 5rem 4rem;
    background: #5a5a5a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

#apple-types-Images{
    display: flex;
}

#apple-types-1,#apple-types-2{
    flex-wrap: wrap;
    width: 100%;
}

#apple-types-1 p,#apple-types-2 p{
    text-align: left;
}

#content{
   font-size: 1.1rem;
}

#apple-types-Images #content h5{
    font-size: 1.7rem;
    margin-bottom: .5rem ;
 }

#apple-types-Images img{
    height: 15rem;
    width: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
}

#fuji-Apple,#empire-Apple,#goldenD-Apple,#grannySmith-Apple,#pinkLady-Apple,#honeyCrisp-Apple{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    margin: 1.5rem;
}


#types-Content{
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 1.6rem;
    font-size: 1.2rem;
    gap: 1rem;
}

/*PURCHASE*/

#purchase-Container{
    padding: 5rem 2.2rem;
    background: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}


#purchase-Container h4{
    font-size: 1.5rem;
}

#purchase-Contents{
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 1.6rem;
    font-size: 1.2rem;
    gap: 1rem;
}

#shop{
    display: flex;
    
    flex-direction: column;
}

#shop-1, #shop-2{
    display: flex;
    width: 100%;
}

#amount-Container{
    border: 2px white solid;
    padding:1.8rem;
    border-radius: 1.5rem;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
}

#amount-Container img{
    height: 15rem;
    object-fit: cover;
    width: 100%;
    border-radius: 1.2rem;
}

.purchase-Button{
    color: white;
    width: 7rem;
    padding: 0.5rem;
    border: 2px white solid;
    border-radius: .5rem;
    background: transparent;
    transition: 0.5s ease;
}

.purchase-Button:hover{
    background-color: #38ff38;
}

#amount-Count button{
    color: white;
    padding: .5rem;
    background: transparent;
    border: 2px solid white;
    border-radius: .4rem;
    transition: .5s ease;
}

#amount-Count button:hover{
    background-color: #616161
}

#amount-Count ,button, label{
    margin: 0 .3rem;
}

footer{
    width: 100%;
    padding: 1.5rem;
    background: #797979;
    display: flex;
    justify-content: space-around;
}

#Footer-links ul{
    display: flex;
    flex-direction: column;
}

#list li{
    color: white;
    font-size: 1.2rem;
}

@media (max-width: 1023px) {
    
    #hamburger {
        display: block;
    }

    #hamburger.active #bar:nth-child(2) {
        opacity: 0;
    }

    #hamburger.active #bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #hamburger.active #bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    li {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    #apple-types-Images{
        flex-wrap: wrap;
    }

    #what-Container{
        flex-wrap: wrap;
    }

    #benefits-Content{
        flex-wrap: wrap;
    }


}

@media (max-width: 700px) {

    #home-Contents h2{
        font-size: 3rem;
    }

    #intro{
        line-height: 2rem;
        font-size: 1.2rem;
    }

    #shop{
        flex-wrap: wrap;
        justify-content: center;
    }

    #shop-1, #shop-2{
        justify-content: center;
        flex-wrap: wrap;
    }

    
}

@media (max-width: 500px) {
    #home-Contents h2{
        font-size: 3rem;
    }

    #home-Contents p{
        font-size: 1.2rem;
    }

    #intro{
        line-height: 2rem;
        font-size: 1rem;
    }

     #fuji-Apple,#empire-Apple,#goldenD-Apple,#grannySmith-Apple,#pinkLady-Apple,#honeyCrisp-Apple{
        display: flex;
        flex-direction: column;
    }

    

}